In [4]:
import pandas as pd

In [5]:
df = pd.read_excel(r"C:\Users\Admin\Desktop\archive\animes.xlsx")
df = pd.read_excel(r"C:\Users\Admin\Desktop\archive\animes.xlsx")
df

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyssâ€”a gaping chasm stretching down int...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']",2017-01-06 00:00:00,1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...
...,...,...,...,...,...,...,...,...,...,...,...,...
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,https://cdn.myanimelist.net/images/anime/4/822...,https://myanimelist.net/anime/32979/Flip_Flappers
19307,123,Fushigi Yuugi,"While visiting the National Library, junior-hi...","['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73,https://cdn.myanimelist.net/images/anime/2/201...,https://myanimelist.net/anime/123/Fushigi_Yuugi
19308,1281,Gakkou no Kaidan,"Years ago, all of the ghosts in a haunted scho...","['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73,https://cdn.myanimelist.net/images/anime/9/183...,https://myanimelist.net/anime/1281/Gakkou_no_K...
19309,450,InuYasha Movie 2: Kagami no Naka no Mugenjo,Inuyasha and company have finally destroyed Na...,"['Action', 'Adventure', 'Comedy', 'Historical'...",2002-12-21 00:00:00,1.0,71989,1469,1077.0,7.73,https://cdn.myanimelist.net/images/anime/1162/...,https://myanimelist.net/anime/450/InuYasha_Mov...
19310,87,Mobile Suit Gundam: Char's Counterattack,The year is Universal Century 0093. Char Aznab...,"['Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha']",1988-03-12 00:00:00,1.0,29248,2604,1081.0,7.73,https://cdn.myanimelist.net/images/anime/1523/...,https://myanimelist.net/anime/87/Mobile_Suit_G...

In [7]:
df = df.drop(columns = ['uid','link','synopsis','img_url'])
df

,title,genre,aired,episodes,members,popularity,ranked,score
0,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82
1,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83
2,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83
3,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23
4,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']",2017-01-06 00:00:00,1.0,214621,502,22.0,8.83
...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73
19307,Fushigi Yuugi,"['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73
19308,Gakkou no Kaidan,"['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"['Action', 'Adventure', 'Comedy', 'Historical'...",2002-12-21 00:00:00,1.0,71989,1469,1077.0,7.73
19310,Mobile Suit Gundam: Char's Counterattack,"['Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha']",1988-03-12 00:00:00,1.0,29248,2604,1081.0,7.73

In [19]:
df = df.rename( columns = {'title' : 'Anime Name', 'genre' : 'Category', 'aired': 'Release Date and End Date','episodes': 'Episodes',
                           'members': 'Member' ,'popularity': 'Popularity', 	'ranked': 'Ranked', 'score':'Score'}) 
df 
# Changing name columns title more suitable

,Anime Name,Category,Release Date and End Date,Episodes,Member,Popularity,Ranked,Score
0,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82
1,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83
2,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83
3,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23
4,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']",2017-01-06 00:00:00,1.0,214621,502,22.0,8.83
...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73
19307,Fushigi Yuugi,"['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73
19308,Gakkou no Kaidan,"['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"['Action', 'Adventure', 'Comedy', 'Historical'...",2002-12-21 00:00:00,1.0,71989,1469,1077.0,7.73
19310,Mobile Suit Gundam: Char's Counterattack,"['Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha']",1988-03-12 00:00:00,1.0,29248,2604,1081.0,7.73

In [68]:
df['Anime Name'] =df['Anime Name'].str.strip('[!@#$%^&*(),.?":{}|<>]"')
df['Category'] =df['Category'].str.strip('[!@#$%^&*(),.?":{}|<>]"')
df = df.drop(columns = 'Remove_Special_Characters')
df 
# remote some special characters out of data

,Anime Name,Category,Release Date and End Date,Episodes,Member,Popularity,Ranked,Score
0,Haikyuu!! Second Season,"'Comedy', 'Sports', 'Drama', 'School', 'Shounen'","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82
1,Shigatsu wa Kimi no Uso,"'Drama', 'Music', 'Romance', 'School', 'Shounen'","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83
2,Made in Abyss,"'Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fa...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83
3,Fullmetal Alchemist: Brotherhood,"'Action', 'Military', 'Adventure', 'Comedy', '...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23
4,Kizumonogatari III: Reiketsu-hen,"'Action', 'Mystery', 'Supernatural', 'Vampire'",2017-01-06 00:00:00,1.0,214621,502,22.0,8.83
...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"'Sci-Fi', 'Adventure', 'Comedy', 'Magic'","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73
19307,Fushigi Yuugi,"'Adventure', 'Fantasy', 'Magic', 'Martial Arts...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73
19308,Gakkou no Kaidan,"'Mystery', 'Horror', 'Supernatural'","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"'Action', 'Adventure', 'Comedy', 'Historical',...",2002-12-21 00:00:00,1.0,71989,1469,1077.0,7.73
19310,Mobile Suit Gundam: Char's Counterattack,"'Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha'",1988-03-12 00:00:00,1.0,29248,2604,1081.0,7.73

In [98]:
df[['Release Date','End Date']]=df['Release Date and End Date'].str.split('to', expand= True)
df = df.drop(columns = 'Release Date and End Date')
df 
# split column Release Date and End Date to easy to see

,Anime Name,Category,Episodes,Member,Popularity,Ranked,Score,Release Date,End Date
0,Haikyuu!! Second Season,"'Comedy', 'Sports', 'Drama', 'School', 'Shounen'",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016"
1,Shigatsu wa Kimi no Uso,"'Drama', 'Music', 'Romance', 'School', 'Shounen'",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015"
2,Made in Abyss,"'Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fa...",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017"
3,Fullmetal Alchemist: Brotherhood,"'Action', 'Military', 'Adventure', 'Comedy', '...",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010"
4,Kizumonogatari III: Reiketsu-hen,"'Action', 'Mystery', 'Supernatural', 'Vampire'",1.0,214621,502,22.0,8.83,NaN,NaN
...,...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"'Sci-Fi', 'Adventure', 'Comedy', 'Magic'",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016"
19307,Fushigi Yuugi,"'Adventure', 'Fantasy', 'Magic', 'Martial Arts...",52.0,84407,1292,1071.0,7.73,"Apr 6, 1995","Mar 28, 1996"
19308,Gakkou no Kaidan,"'Mystery', 'Horror', 'Supernatural'",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001"
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"'Action', 'Adventure', 'Comedy', 'Historical',...",1.0,71989,1469,1077.0,7.73,NaN,NaN
19310,Mobile Suit Gundam: Char's Counterattack,"'Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha'",1.0,29248,2604,1081.0,7.73,NaN,NaN

In [104]:
df=df.fillna(' ')
df

,Anime Name,Category,Episodes,Member,Popularity,Ranked,Score,Release Date,End Date
0,Haikyuu!! Second Season,"'Comedy', 'Sports', 'Drama', 'School', 'Shounen'",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016"
1,Shigatsu wa Kimi no Uso,"'Drama', 'Music', 'Romance', 'School', 'Shounen'",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015"
2,Made in Abyss,"'Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fa...",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017"
3,Fullmetal Alchemist: Brotherhood,"'Action', 'Military', 'Adventure', 'Comedy', '...",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010"
4,Kizumonogatari III: Reiketsu-hen,"'Action', 'Mystery', 'Supernatural', 'Vampire'",1.0,214621,502,22.0,8.83,,
...,...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"'Sci-Fi', 'Adventure', 'Comedy', 'Magic'",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016"
19307,Fushigi Yuugi,"'Adventure', 'Fantasy', 'Magic', 'Martial Arts...",52.0,84407,1292,1071.0,7.73,"Apr 6, 1995","Mar 28, 1996"
19308,Gakkou no Kaidan,"'Mystery', 'Horror', 'Supernatural'",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001"
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"'Action', 'Adventure', 'Comedy', 'Historical',...",1.0,71989,1469,1077.0,7.73,,
19310,Mobile Suit Gundam: Char's Counterattack,"'Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha'",1.0,29248,2604,1081.0,7.73,,

In [109]:
for x in df.index:                  # checking any mising anime dont have name
    if df.loc[x,"Anime Name"] == '':
        df.drop(x, inplace= True)
df 
#another way to drop null values
#df = df.dropna(subset="Anime Name"), inplace=True)

,Anime Name,Category,Episodes,Member,Popularity,Ranked,Score,Release Date,End Date
0,Haikyuu!! Second Season,"'Comedy', 'Sports', 'Drama', 'School', 'Shounen'",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016"
1,Shigatsu wa Kimi no Uso,"'Drama', 'Music', 'Romance', 'School', 'Shounen'",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015"
2,Made in Abyss,"'Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fa...",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017"
3,Fullmetal Alchemist: Brotherhood,"'Action', 'Military', 'Adventure', 'Comedy', '...",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010"
4,Kizumonogatari III: Reiketsu-hen,"'Action', 'Mystery', 'Supernatural', 'Vampire'",1.0,214621,502,22.0,8.83,,
...,...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"'Sci-Fi', 'Adventure', 'Comedy', 'Magic'",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016"
19307,Fushigi Yuugi,"'Adventure', 'Fantasy', 'Magic', 'Martial Arts...",52.0,84407,1292,1071.0,7.73,"Apr 6, 1995","Mar 28, 1996"
19308,Gakkou no Kaidan,"'Mystery', 'Horror', 'Supernatural'",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001"
19309,InuYasha Movie 2: Kagami no Naka no Mugenjo,"'Action', 'Adventure', 'Comedy', 'Historical',...",1.0,71989,1469,1077.0,7.73,,
19310,Mobile Suit Gundam: Char's Counterattack,"'Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha'",1.0,29248,2604,1081.0,7.73,,

In [113]:
# after ckecking data i still see some special characters in Anime Name cloumn so decice to clear it by other way
# Define a function to remove special characters
def remove_special_characters(text):
    import re
    pattern = r'[^a-zA-Z0-9\s]'  # Keep letters, numbers, and spaces
    return re.sub(pattern, '', text)

# Apply the function to each cell in the DataFrame
df['Anime Name'] = df['Anime Name'].apply(remove_special_characters)
df

,Anime Name,Category,Episodes,Member,Popularity,Ranked,Score,Release Date,End Date
0,Haikyuu Second Season,"'Comedy', 'Sports', 'Drama', 'School', 'Shounen'",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016"
1,Shigatsu wa Kimi no Uso,"'Drama', 'Music', 'Romance', 'School', 'Shounen'",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015"
2,Made in Abyss,"'Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'Fa...",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017"
3,Fullmetal Alchemist Brotherhood,"'Action', 'Military', 'Adventure', 'Comedy', '...",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010"
4,Kizumonogatari III Reiketsuhen,"'Action', 'Mystery', 'Supernatural', 'Vampire'",1.0,214621,502,22.0,8.83,,
...,...,...,...,...,...,...,...,...,...
19306,Flip Flappers,"'Sci-Fi', 'Adventure', 'Comedy', 'Magic'",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016"
19307,Fushigi Yuugi,"'Adventure', 'Fantasy', 'Magic', 'Martial Arts...",52.0,84407,1292,1071.0,7.73,"Apr 6, 1995","Mar 28, 1996"
19308,Gakkou no Kaidan,"'Mystery', 'Horror', 'Supernatural'",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001"
19309,InuYasha Movie 2 Kagami no Naka no Mugenjo,"'Action', 'Adventure', 'Comedy', 'Historical',...",1.0,71989,1469,1077.0,7.73,,
19310,Mobile Suit Gundam Chars Counterattack,"'Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha'",1.0,29248,2604,1081.0,7.73,,

In [116]:
df.to_excel(r'C:\Users\Admin\Desktop\archive\animes.xlsx', index = False) # Save cleaned data